{% extends "base.html" %}

{% block main %}
{% if user.is_authenticated %}
    <h1>Publicaciones</h1>

    <h3>Filtrar por:</h3>
    <form method="get" class=" filter-form " >
      {{ filter.form.as_p }}
      <button type="submit" class="btn btn-primary">Aplicar</button>
      <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'articulos:articulos_publicados' %}';">Reiniciar</button>
    </form>

    <div class="mb-4 mt-30">
        <div class="row">
            {% for article in articles %}
                <!-- Single News Area -->
                <div class="col-12 col-sm-4">
                    <div class="single-blog-post style-2 mb-5">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            {% if article.image %}
                                <a href="{% url 'articulos:detail' article.id %}"><img src="{{ article.image.url }}" alt=""></a>
                            {% else %}
                                <a href="{% url 'articulos:detail' article.id %}"><img src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png" alt="" ></a>
                            {% endif %}
                        </div>

                        <!-- Blog Content -->
                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <div class="blog-content">
                                <span href="{% url 'articulos:detail' article.id %}" class="post-date">{{ article.created_at|date:"D d M Y" }}</span>
                                <a href="{% url 'articulos:detail' article.id %}" class="post-title">{{ article.title }}</a>
                                <a href="{% url 'articulos:detail' article.id %}" class="post-author">Por {{ article.author.username }}</a>
                            </div>
                            <!-- Like Button -->
                            <div>
                                <form action="{% url 'articulos:toggle_like' article.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link btn-like {% if article.liked %}btn-primary liked{% endif %}">
                                        {% if article.liked %}
                                            <i class="fas fa-thumbs-up"></i> Me gusta
                                        {% else %}
                                            <i class="far fa-thumbs-up"></i> Me gusta
                                        {% endif %}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            {% empty %}
            <tr>
                <td colspan="4">No hay publicaciones disponibles.</td>
            </tr>
            {% endfor %}
        </div>
    </div>
    


{% else %}
<h1>No hay permisos para acceder a esta pagina</h1>
<a href="{% url 'login' %}"> Autenticarme</a>
{% endif %}

{% endblock %}
