{% extends "base.html" %}

{% block main %}
{% if user.is_authenticated %}
    <h1>Publicaciones</h1>

    <h3>Filtrar por:</h3>
    <form method="get" class=" filter-form " >
      {{ filter.form.as_p }}
      <button type="submit" class="btn btn-primary">Aplicar</button>
      <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'articulos:articulos_publicados' %}';">Reiniciar</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Categoría</th>
                <th>Autor</th>
                <th>Fecha de Creación</th>
                
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td><a href="{% url 'articulos:detail' article.id %}">{{ article.title }}</a></td>
                <td>{{article.categoria}}</td>
                <td>{{ article.author.username }}</td>
                <td>{{ article.created_at|date:"D d M Y" }}</td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay publicaciones disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
<h1>No hay permisos para acceder a esta pagina</h1>
<a href="{% url 'login' %}"> Autenticarme</a>
{% endif %}

{% endblock %}
