{% extends "base.html" %}

{% block main %}

<h1>
  SEGURO QUE QUIERES ELIMINAR EL SIGUIENTE ARTICULO?
</h1>

<p>
  <strong>Titulo:</strong>
  {{article.title}}
</p>

<p>
  <strong>Contenido:</strong>
  {{article.content}}
</p>

<p>
  <strong>Categoria:</strong>
  {{ article.categoria }}
</p>

<p>
  <strong>Plantilla:</strong>
  {{ article.plantilla.titulo }}
</p>

<form action="{% url 'articulos:delete' article.id %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Delete">
</form>

<br>

<a href="{% url 'articulos:index' %}">Atrás</a>
{% endblock %}
