{% extends "base.html" %}

{% block main %}
{{ article.plantilla.contenido|safe }}
<body>

  <div class="container">
    <h1>{{ article.title }}</h1>
    <p>Fecha de creación: {{ article.created_at|date:"F j, Y" }}</p>

    {% if article.image %}
    <img src="{{ article.image.url }}" alt="Image">
    {% endif %}
    
    <p>{{ article.content }}</p>
    
    {% if article.video %}
        <video controls>
          <source src="{{ article.video.url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
    {% endif %}

    
    <!-- Comment Area Start -->
    <div class=" comment_area clearfix mb-30 mt-100">
      <h4 class="mb-15 mt-50">Commentarios:</h4>

      <ol>
        {% for comentario in comentarios %}
          <!-- Single Comment Area -->
          <li class="single_comment_area mb-2 ">
              <!-- Comment Content -->
              <div class="comment-content d-flex card ">
                  <!-- Comment Meta -->
                  <div class="comment-meta pl-sm-3 pt-md-2 mb-2 ">
                      <div class="d-flex ">
                          <a href="#" class="post-author ">De: {{ comentario.user.username }}</a>
                          <a href="#" class="post-date">{{ comentario.created_at }} </a>
                          {% if comentario.user == request.user %}
                            <a href="{% url 'articulos:edit_comentario' comentario.id %}" class="post-date">Editar</a>
                            
                            <a href="{% url 'articulos:delete_comentario' comentario.id %}" class="post-date">Eliminar</a>

                            <!-- <form method="post" action="{% url 'articulos:delete_comentario' comentario.id %}" style="display:inline;">
                              {% csrf_token %}
                              <button type="submit" class="reply">Eliminar</button>
                            </form> -->
                          {% endif %}
                      </div>
                      <p>{{ comentario.content }}</p>
                  </div>
              </div>
          </li>
        {% empty %}
        <a>... Sin comentarios ...</a>
        {% endfor %}
      </ol>
  </div>

  <div class="post-a-comment-area mb-30 clearfix">
    <h4 class="mt-30">Deja tu comentario</h4>

    <!-- Reply Form -->
    <div class="comentario-form-area">
      <div class="row">
          <form method="post" class="comentario-form-area">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn newsbox-btn mt-15" type="submit">Enviar respuesta</button>
              </div>
          </form>
      </div>
  </div>
</div>


  </div>

  {% if myRole == 'guest' %}
    |<a class="btn btn-primary" href="{% url 'articulos:articulos_publicados' %}">Atras</a>| 
  {% else %}
    |<a class="btn btn-secondary" href="{% url 'articulos:index' %}">Atras</a>| 
  {% endif %}
  
  {% if myRole == 'admin' or myRole == 'editor' %}<a class="btn btn-primary" href="{% url 'articulos:edit' article.id %}">Editar</a>| {% endif %}

</body>
{% endblock %}
