{% extends "base.html" %}

{% block main %}
{{ article.plantilla.contenido|safe }}
<body>

  <!-- Like Button -->
  <div class="float-right">
    {% if myRole == 'admin' %}
    <a class="btn btn-primary mb-1" href="{% url 'articulos:historial' article.id %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-clock-history mt-1" viewBox="0 0 16 16">
        <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
        <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
        <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
      </svg>
      Historial de Cambios
    </a>
    {% endif %}
    
    <form action="{% url 'articulos:toggle_like' article.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-link btn-like {% if article.liked %}btn-primary liked{% endif %}">
            {% if article.liked %}
                <i class="fas fa-thumbs-up"></i> Me gusta
            {% else %}
                <i class="far fa-thumbs-up"></i> Me gusta
            {% endif %}
        </button>
    </form>
</div>
  <div class="container">
    <h1>{{ article.title }}</h1>
    <p>Fecha de creación: {{ article.created_at|date:"F j, Y" }}</p>

    {% if article.image %}
    <img src="{{ article.image.url }}" alt="Image">
    {% endif %}
    
    <p>{{ article.content }}</p>
    
    {% if article.video %}
        <video controls>
          <source src="{{ article.video.url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
    {% endif %}

    
    <!-- Comment Area Start -->
    <div class=" comment_area clearfix mb-30 mt-100">
      <h4 class="mb-15 mt-50">Commentarios:</h4>

      <ol>
        {% for comentario in comentarios %}
          <!-- Single Comment Area -->
          <li class="single_comment_area mb-2 ">
              <!-- Comment Content -->
              <div class="comment-content d-flex card ">
                  <!-- Comment Meta -->
                  <div class="comment-meta pl-sm-3 pt-md-2 mb-2 ">
                      <div class="d-flex ">
                          <a href="#" class="post-author ">De: {{ comentario.user.username }}</a>
                          <a href="#" class="post-date">{{ comentario.created_at }} </a>
                          {% if comentario.user == request.user %}
                            <a href="{% url 'articulos:edit_comentario' comentario.id %}" class="post-date">Editar</a>
                            
                            <a href="{% url 'articulos:delete_comentario' comentario.id %}" class="post-date">Eliminar</a>

                            <!-- <form method="post" action="{% url 'articulos:delete_comentario' comentario.id %}" style="display:inline;">
                              {% csrf_token %}
                              <button type="submit" class="reply">Eliminar</button>
                            </form> -->
                          {% endif %}
                      </div>
                      <p>{{ comentario.content }}</p>
                  </div>
              </div>
          </li>
        {% empty %}
        <a>... Sin comentarios ...</a>
        {% endfor %}
      </ol>
  </div>

  <div class="post-a-comment-area mb-30 clearfix">
    <h4 class="mt-30">Deja tu comentario</h4>

    <!-- Reply Form -->
    <div class="comentario-form-area">
      <div class="row">
          <form method="post" class="comentario-form-area">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn newsbox-btn mt-15" type="submit">Enviar respuesta</button>
              </div>
          </form>
      </div>
  </div>
</div>


  </div>

  {% if myRole == 'guest' %}
     <a class="btn btn-secondary mt-1" href="{% url 'articulos:articulos_publicados' %}">Atras</a>  
  {% else %}
     <a class="btn btn-secondary mt-1" href="{% url 'articulos:index' %}">Atras</a>  
  {% endif %}
  
  {% if myRole == 'admin' or myRole == 'editor' %}<a class="btn btn-primary mt-1" href="{% url 'articulos:edit' article.id %}">Editar</a>  {% endif %}

</body>
{% endblock %}
