{% extends "base.html" %}

{% block main %}
{% if user.is_authenticated %}


<h1>Articulos</h1>
<table>
  <tr>
    <th>Titulo</th>
    <th>Contenido</th>
    <th>Categoría</th>
    <th>Plantilla</th>
    <th>Autor</th>
    <th>Estado</th>
    <th>Fecha</th>
    <th colspan="3"></th>
  </tr>
  {% for article in articles %}
  <tr>
    <td>{{article.title}}</td>
    <td><a href="{% url 'articulos:detail' article.id %}">Ver Contenido</a></td>
    <td>{{article.categoria}}</td>
    <td>{{article.plantilla.titulo}}</td>
    <td>{{article.author}}</td>
    <td>{{ article.get_status_display }} </td>
    <td>{{ article.created_at|date:"d M Y H:i" }}</td> <!-- Muestra la fecha -->
    {% if myRole == 'admin' or myRole == 'editor' %}<td><a href="{% url 'articulos:edit' article.id %}">Editar</a></td> {% endif %}
    {% if myRole == 'admin' %}<td><a href="{% url 'articulos:delete' article.id %}">Eliminar</a></td> {% endif %}
  </tr>
  {% endfor %}
</table>

<br>

{% if myRole == 'admin' or myRole == 'editor' %}<a href="{% url 'articulos:create' %}">Nuevo articulo</a> {% endif %}

{% else %}
<h1>No hay permisos para acceder a esta pagina</h1>
<a href="{% url 'login' %}"> Autenticarme</a>
{% endif %}


{% endblock %}