{% extends "base.html" %}

{% block main %}
{% if user.is_authenticated %}

<!-- <div class="container"> -->
<h1>Articulos</h1>

<!-- Filtro separado -->
<h3>Filtrar por:</h3>
<form method="get" class=" filter-form " >
  {{ filter.form.as_p }}
  <button type="submit" class="btn btn-primary">Aplicar</button>
  <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'articulos:index' %}';">Reiniciar</button>
</form>

<div class="card shadow mb-4 mt-30"> 
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered display" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Contenido</th>
            <th>Categoría</th>
            <th>Plantilla</th>
            <th>Autor</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th> </th>

          </tr>          
        </thead>
        <tfoot>
          <tr>
            <th>Titulo</th>
            <th>Contenido</th>
            <th>Categoría</th>
            <th>Plantilla</th>
            <th>Autor</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th> </th>

          </tr>          
        </tfoot>
        <tbody>
          {% for article in articles %}
          <tr>
            <td>{{article.title}}</td>
            <td><a class="btn btn-primary" href="{% url 'articulos:detail' article.id %}">Ver Contenido</a></td>
            <td>{{article.categoria}}</td>
            <td>{{article.plantilla.titulo}}</td>
            <td>{{article.author}}</td>
            <td>{{ article.get_status_display }} </td>
            <td>{{ article.created_at|date:"d/m/Y" }} <!-- Muestra la fecha -->
            <td>{{ article.created_at|date:"H:i" }}</td>  <!-- Muestra la HORA -->
            <td>
            {% if myRole == 'admin' or myRole == 'editor' %}<a class="btn btn-primary" href="{% url 'articulos:edit' article.id %}">Editar</a> {% endif %}
            {% if myRole == 'admin' %}<a class="btn btn-primary" href="{% url 'articulos:delete' article.id %}">Eliminar</a> {% endif %}              
            </td>

          </tr>
          {% endfor %}          
        </tbody>

      </table>
    </div>
  </div>
</div>

{% if myRole == 'admin' or myRole == 'editor' or myRole == 'autor' %}<a class="btn btn-primary" href="{% url 'articulos:create' %}">Nuevo articulo</a> {% endif %}
<!-- </div> -->
{% else %}
<h1>No hay permisos para acceder a esta pagina</h1>
<a href="{% url 'login' %}"> Autenticarme</a>
{% endif %}



{% endblock %}