{% extends "base.html" %}

{% block main %}
<style>
    .container {
        display: flex; /* Establecemos un contenedor flexible */
        justify-content: space-between; /* Distribuimos los elementos de forma equitativa */
    }

    .column {
        width: 33%; /* Ancho de cada columna (ajustable) */
        border: 1px solid #ccc; /* Borde opcional para cada columna */
        padding: 10px;
        border-radius: 5px;
    }

    .column[data-status="pendiente"] {
        background-color: #fff3cd; /* Amarillo claro */
    }

    .column[data-status="revision"] {
        background-color: #ffeeba; /* Naranja claro */
    }

    .column[data-status="aprobado"] {
        background-color: #c3e6cb; /* Verde claro */
    }

    .column[data-status="publicado"] {
        background-color: #b8daff; /* Azul claro */
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    th {
        background-color: #f8f9fa;
    }
</style>

{% if user.is_authenticated %}

<h1>TABLERO KANBAN</h1>

<div class="container">
  <div class="column" data-status="pendiente">
    <h2>Creación</h2>
    {% for article in articles %}
    {% if article.get_status_display == 'Pendiente' %}    
    <table>
        <tr>
            <th><a href="{% url 'articulos:ver_articulo' article.id %}">{{ article.title }}</a></th>
        </tr>
        <tr>
            <td>
                {% if article.image %}
                    <a href="{% url 'articulos:detail' article.id %}"><img src="{{ article.image.url }}" alt="Image"></a>
                {% else %}
                    <a href="{% url 'articulos:detail' article.id %}"><img src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png" alt="" ></a>
                {% endif %}
                {{ article.author }}
                {% if myRole == 'admin' or myRole == 'editor' %}
                    <form method="post" action="{% url 'articulos:actualiza_articulo' article.id %}">
                        {% csrf_token %}
                        <button type="submit" name="aceptar">Aceptar</button>
                        <button type="submit" name="rechazar">Rechazar</button>
                    </form>
                {% endif %}
            </td>
        </tr>
    </table>
    {% endif %}
    {% endfor %} 
  </div>

  <div class="column" data-status="revision">
    <h2>En revisión</h2>
    {% for article in articles %}
    {% if article.get_status_display == 'Revision' %}    
        <table>
            <tr>
                <th><a href="{% url 'articulos:ver_articulo' article.id %}">{{ article.title }}</a></th>
            </tr>
            <tr>
                {% if article.image %}
                <img src="{{ article.image.url }}" alt="Image">
                {% endif %}
                <td>{{ article.author }}
                    {% if myRole == 'admin' or myRole == 'editor' %} 
                        <form method="post" action="{% url 'articulos:actualiza_articulo' article.id %}">
                            {% csrf_token %}
                            <button type="submit" name="aprobar">Aprobar</button>
                            <button type="submit" name="rechazar">Rechazar</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        </table>
    {% endif %}
    {% endfor %}   
  </div>

  <div class="column" data-status="aprobado">
    <h2>Aprobado</h2>
    {% for article in articles %}
    {% if article.get_status_display == 'Aprobado' %}    
        <table>
            <tr>
                <th><a href="{% url 'articulos:ver_articulo' article.id %}">{{ article.title }}</a></th>
            </tr>
            <tr>
                {% if article.image %}
                <img src="{{ article.image.url }}" alt="Image">
                {% endif %}
                <td>{{ article.author }}
                    <form method="post" action="{% url 'articulos:actualiza_articulo' article.id %}">
                        {% csrf_token %}
                        {% if myRole == 'admin' or myRole == 'editor' %} <button type="submit" name="publicar">Publicar</button> {% endif %}
                    </form>
                </td>
            </tr>
        </table>
    {% endif %}
    {% endfor %}   
    </div>
</div>

<br>

{% if myRole == 'admin' or myRole == 'editor' or myRole == 'autor' %}<a  class="btn btn-primary" href="{% url 'articulos:create' %}">Nuevo articulo</a> {% endif %}

{% else %}
<h1>No hay permisos para acceder a esta pagina</h1>
<a href="{% url 'login' %}"> Autenticarme</a>
{% endif %}

{% endblock %}
