{% extends "base.html" %}

{% block main %}
<div class="container">
    <h1>Publicar o Rechazar Articulos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Estado</th>
                <th>Publicacion</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.author.username }}</td>
                <td>{{ article.get_status_display }}</td>
                <td>
                    <a href="{% url 'articulos:aceptar_articulo' article.id %}">Aceptar</a>
                    <a href="{% url 'articulos:reject_article' article.id %}">Rechazar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Sin pendientes</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
