{% extends "base.html" %}

{% block main %}

{% if user.is_authenticated %}

<table class="table">
  <tbody>
    <tr>
      <th>Nombre de usuario</th>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <th>Dirección de correo electrónico</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th>Age</th>
      <td>{{ user.age }}</td>
    </tr>
  </tbody>
</table>
<a href="{% url 'user_update' user.pk %}">Editar</a>
<a href="{% url 'password_change' %}">cambiar contrasena</a> 

{% else %}
<h1>No hay permisos para acceder a esta pagina</h1>
<a href="{% url 'login' %}"> Autenticarme</a>
{% endif %}

   <!-- Apéndice -->
{% endblock %}