{% extends "base.html" %}
{% load role_filter %}
{% block main %}

{% if user.is_authenticated %}

<table class="table">
  <tbody class="align-left">
    <tr>
      <th>Nombre</th>
      <td>{{ user.first_name }}</td>
    </tr>
    <tr>
      <th>Apellido</th>
      <td>{{ user.last_name }}</td>
    </tr>
    <tr>
      <th>Correo electrónico</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th>Rol</th>
      <td>{{ myRole|get_role_name }}</td>
    </tr>
  </tbody>
</table>
<a href="{% url 'user_update' user.pk %}">Editar</a>
<a href="{% url 'password_change' %}">cambiar contrasena</a> 

{% else %}
<h1>No hay permisos para acceder a esta pagina</h1>
<a href="{% url 'login' %}"> Autenticarme</a>
{% endif %}

   <!-- Apéndice -->
{% endblock %}