{% extends 'base.html' %}
{% load role_filter %}
{% block title %}Usuarios y Roles{% endblock %}
{% block main %}
{% if user.is_authenticated %}


<h1>Usuarios</h1>

<table class="table table-striped table-hover table-bordered">
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Edad</th>
      <th>Rol</th>
      {% if myRole == 'admin' %}<th colspan="3">Acción</th>{% endif %}
    </tr>
    {% for usuario in usuarios %}
    <tr>
      <td>{{ usuario.username }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.age }}</td>
      <td>{{ usuario.role|get_role_name }}</td>
      {% if myRole == 'admin' %}<td><button class="btn btn-primary btn-sm"><a href="{% url 'edit_user_role' usuario.id %}">Editar Rol</a></button></td>{% endif %}
    </tr>
    {% endfor %}
</table>


{% else %}
<h1>No hay permisos para acceder a esta pagina</h1>
<a href="{% url 'login' %}"> Autenticarme</a>
{% endif %}

{% endblock %}