{% extends 'base.html' %}
{% load role_filter %}
{% block title %}Usuarios y Roles{% endblock %}
{% block main %}
{% if user.is_authenticated %}


<h1>Usuarios</h1>

<table>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Edad</th>
      <th>Rol</th>
      {% if myRole == 'admin' %}<th colspan="3">Acción</th>{% endif %}
    </tr>
    {% for usuario in usuarios %}
    <tr>
      <td>{{ usuario.username }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.age }}</td>
      <td>{{ roles|get_role_name:usuario.role }}</td>
      {% if myRole == 'admin' %}<td><button><a href="{% url 'edit_user_role' usuario.id %}">Editar Rol</a></button></td>{% endif %}
    </tr>
    {% endfor %}
</table>

<h1>Administrar Roles</h1>

<table>
    <tr>
      <th>NOMBRE DEL ROL</th>
      <th>Cantidad Actual</th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <td>ADMINISTRADOR</td>
      <td>2</td>
      <td><a href="#">| Editar</a></td>
      <td><a href="#">| Eliminar</a></td>
    </tr>
    <tr>
      <td>INVITADO</td>
      <td>7</td>
      <td><a href="#">| Editar </a></td>
      <td><a href="#">| Eliminar</a></td>
    </tr>
</table>
<button>Nuevo Rol</button>

{% else %}
<h1>No hay permisos para acceder a esta pagina</h1>
<a href="{% url 'login' %}"> Autenticarme</a>
{% endif %}

{% endblock %}