{% load static %}

<html>

  <head>
    <meta charset="utf-8">
    <title>CMS</title>
    <link rel="stylesheet" href="{% static 'articulos/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'articulos/css/style.css' %}">
  </head>

  <body>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'articulos:index' %}">Mis Articulos</a></li>
        <li><a href="{% url 'articulos:tablero_kanban' %}">Kanban</a></li>
        {% if myRole == 'admin' or myRole == 'editor' %}
        <li><a href="{% url 'articulos:manejar_articulos' %}">Confirmar Articulos</a></li>
        {% endif %}
        <li><a href="{% url 'articulos:articulos_publicados' %}">Publicaciones</a></li>

        <li><a href="{% url 'logout_confirm' %}">Cerrar sesión</a></li>
        
        <li><a href="{% url 'user_detail' user.pk %}">Detalles de Usuario</a></li>    <!-- Apéndice -->
        <li><a href="{% url 'articulos:categoria_list' %}">Categorías</a></li>
        <li><a href="{% url 'articulos:plantilla_index' %}">Plantillas</a></li>
        {% if myRole == 'admin' %}<li><a href="{% url 'usuarios_list' %}" >Usuarios y Roles</a></li>{% endif %}
        <li><a href="https://dcsergiopc.github.io/cms/index.html"target="_blank">Documentación</a></li>
        {% else %}
        
        {% endif %}
      </ul>
    </nav>
    <main>
      <div>
        {% block main %}
        {% endblock %}
      </div>
    </main>
  </body>

</html>