{% load static %}

<html>

  <head>
    <meta charset="utf-8">
    <title>CMS</title>
    <link rel="stylesheet" href="{% static 'articulos/css/normalize.css' %}">


    <!-- <link rel="stylesheet" href="{% static 'articulos/css/style.css' %}"> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <!-- DataTable.js -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />
    
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    
    <!-- Incluir las bibliotecas jsPDF y html2canvas en tu plantilla HTML -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>

  <body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
      <!-- Navbar Area -->
      <div class="newsbox-main-menu">
          <div class="classy-nav-container breakpoint-off">
              <div class="container-fluid">
                  <!-- Menu -->
                  <nav class="classy-navbar justify-content-between mb-15" id="newsboxNav">

                      <!-- Nav brand -->
                      <a href="{% url 'articulos:articulos_publicados' %}" class="nav-brand">
                          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                              <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
                          </svg>
                      </a>

                      <!-- Navbar Toggler -->
                      <div class="classy-navbar-toggler">
                          <span class="navbarToggler"><span></span><span></span><span></span></span>
                      </div>

                      <!-- Menu -->
                      <div class="classy-menu">

                          <!-- Close Button -->
                          <div class="classycloseIcon">
                              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                          </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                            {% if user.is_authenticated %}
                                <ul>
                                    <li><a href="{% url 'articulos:articulos_publicados' %}">Publicaciones</a></li>
                                    {% if myRole == 'admin' or myRole == 'editor' or myRole == 'autor' %}
                                    <li><a href="#">Articulos</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'articulos:index' %}">Mis Articulos</a></li>
                                            <li><a href="{% url 'articulos:tablero_kanban' %}">Kanban</a></li>
                                            <li><a href="{% url 'articulos:categoria_list' %}">Categorias</a></li>
                                            <li><a href="{% url 'articulos:plantilla_index' %}">Plantillas</a></li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'articulos:notifications' %}">Notificaciones 
                                        {% if unread_notifications_count > 0 %}
                                            ({{ unread_notifications_count }})
                                        {% endif %}
                                    </a></li>
                                    {% endif %}

                                  <li><a href="#">Usuario</a>
                                      <ul class="dropdown">
                                          <li><a href="{% url 'user_detail' user.pk %}">Mi Usuario</a></li>
                                          {% if myRole == 'admin' %}
                                          <li><a href="{% url 'usuarios_list' %}">Usuarios y Roles</a></li>
                                          {% endif %}
                                          <li><a href="{% url 'logout_confirm' %}">Cerrar Sesion</a></li>
                                      </ul>
                                  </li>
                                {% if myRole == 'admin' %}
                                    <li><a href="{% url 'articulos:reportes' %}">Reportes</a></li>
                                {% endif %}
                                  <li><a href="https://dcsergiopc.github.io/cms/index.html"target="_blank">Documentación</a></li>
                                  <li>
                                    <a href="#" id="theme-toggle">Cambiar modo oscuro</a>
                                  </li>
                              </ul>
                            {% endif %}
                          </div>
                          <!-- Nav End -->

                      </div>
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ##### Header Area End ##### -->

    <main>
      <div>
        {% block main %}
        {% endblock %}
      </div>
    </main>

  <!-- ##### All Javascript Script (PERTENECIENTES A LA PLANTILLA DEL NAVBAR) ##### -->
  <!-- jQuery-2.2.4 js -->
  <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
  <!-- All Plugins js -->
  <script src="{% static 'js/plugins/plugins.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'js/active.js' %}"></script>

  <!-- ##### Los Script (PERTENECIENTES A LA Incorporacion de DataTables con BOOTSTRAP) ##### -->
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <!-- DataTable.js -->
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
  <!-- Custom JS -->
  <script src="{% static 'js/index.js' %}"></script>

  <script>
    const themeToggle = document.getElementById('theme-toggle');

    // actualizar los estilos de las tablas
    function updateTableStyles() {
        const isDarkMode = document.body.classList.contains('dark-mode');
        const tableElements = document.querySelectorAll('th, td');

        tableElements.forEach(element => {
            if (isDarkMode) {
                element.style.color = 'white'; // blanco en modo oscuro
            } else {
                element.style.color = 'black'; // negro en modo claro
            }
        });
    }

    // Función QUE cambia el tema
    function changeTheme() {
        document.body.classList.toggle('dark-mode');
        document.body.classList.toggle('light-mode');

        // Cambiar TEXTO boton
        if (document.body.classList.contains('dark-mode')) {
            themeToggle.textContent = 'Cambiar a modo claro';
            localStorage.setItem('theme', 'dark');
        } else {
            themeToggle.textContent = 'Cambiar a modo oscuro';
            localStorage.setItem('theme', 'light');
        }

        // Actualizar estilos de la tabla
        updateTableStyles();
    }

    // Configuración inicial de tema
    const savedTheme = localStorage.getItem('theme');
    if (savedTheme === 'dark') {
        document.body.classList.add('dark-mode');
        document.body.classList.remove('light-mode');
        themeToggle.textContent = 'Cambiar a modo claro';
    } else {
        document.body.classList.add('light-mode');
        document.body.classList.remove('dark-mode');
        themeToggle.textContent = 'Cambiar a modo oscuro';
    }

    // estilos de la tabla se actualizar al cargar
    updateTableStyles();

    // EventListener para el botón
    themeToggle.addEventListener('click', changeTheme);
</script>

  

  </body>

</html>
